.task {
    width: 50%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #bb35f0;
    border-radius: 5px;
    margin:  15px auto;
    padding: 5px;
    
}


.task  button{
    border: none;
    background-color:rgb(230, 35, 236);
    color: white;
    border-radius: 7px;
    padding: 7px;
}

.task input{
    padding: 5px;
}
