.list{
    color: #fff;
    width: 50%;
    background-color: #bf07ac;
    margin: 20px;
    border-radius: 5px;
    margin: auto;
}

.list p{
    padding: 15px;
    position: relative;

}

.list p button{
    border: none;
    background-color: darkorchid;
    color: white;
    padding: 6px;
    position: absolute;
    right: 0;
    border-radius: 5px;
}
/* .list p input{
   position: absolute;
   left: 0;
    width: 5%;

} */