.todo{
   text-align: center;
}

.todo input{
    width: 35%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.todo input:focus{
    outline: none;
}
.todo button{
    width: 10%;
    padding: 9px;
    border:none;
    border-radius: 5px;
    margin:20px;
    background-color: rgb(199, 228, 93);  
    font-size: 17px;
} 

.todo button:hover{
    background-color:  rgb(206, 231, 117);;
}